@tailwind base;
@tailwind components;
@tailwind utilities;

@import './theme.css';

@layer base {
  :root {
    --radius: 0.5rem;
  }
  
  body {
    background-color: var(--bg);
    color: var(--fg);
  }
}
